<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado de Excursiones</title>
</head>
<body>
	<h1>Listado de Excursiones</h1>

	<h3>
		Mensaje:
		<sapn th:text="${mensaje}"></sapn>
	</h3>

	<a th:href="@{/excursion/alta}">Alta Excursion</a></br>

	<table border="2">
		<tr>
			<th>Descripción</th>
			<th>Origen</th>
			<th>Destino</th>
			<th>Fecha</th>
			<th>Precio</th>
			<th>Detalle</th>
			<th>Cancelar</th>
			<th>Modificar</th>
		</tr>

		<tr th:each="excursion : ${excursiones}">
			<td th:text="${excursion.descripcion}"></td>
			<td th:text="${excursion.origen}"></td>
			<td th:text="${excursion.destino}"></td>
			<td
				th:text="${#dates.format(excursion.fechaExcursion, 'dd/MM/yyyy')}"></td>
			<td th:text="${excursion.precioUnitario}"></td>

			<td><a
				th:href="@{/excursion/detalle/{id}(id=${excursion.idExcursion})}">Ver
					detalle</a></td>
			<td><a
				th:href="@{/excursion/cancelar/{id}(id=${excursion.idExcursion})}">Cancelar</a></td>
			<td><a
				th:href="@{/excursion/editar/{id}(id=${excursion.idExcursion})}">Modificar</a></td>
				
		</tr>
        <a href="/excursion/destacadas">Destacadas</a></br>
		<a href="/excursion/creadas">Creadas</a></br>
		<a href="/excursion/terminadas">Terminadas</a></br>
		
</body>
	
</html>
